@page "/admin"
@inject IMovieViewModel _movieVm

<PageTitle>Admin page</PageTitle>

<h1>Manage movies</h1>
<div class="text-primary">@_movieVm.InfoMessage</div>
<div class="text-danger">@_movieVm.InfoMessage</div>

<input class="my-3" @bind="_movieVm.SearchTerm" @bind:event="oninput" placeholder="Search movie"/>


<div>Results: @_movieVm.Movies.Count</div>
<div class="container">
    <div class="row">
        @foreach (var m in _movieVm.Movies)
        {
            <div class="col-3 card">
                <div class="card-body d-flex flex-column">
                    <div class="card-title fw-bold" value="@m.ID">@m.title</div>
                    <div class="card-tex mb-2">@m.overview</div>
                    <div class="btn btn-danger mt-auto" @onclick="() => _movieVm.DeleteMovie(m)">Remove</div>
                </div>
            </div>
        }
    </div>
</div>