@page "/"
@inject IMovieViewModel _movieVm

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>
<div class="text-primary">@_movieVm.InfoMessage</div>
<div class="text-danger">@_movieVm.ErrorMessage</div>

<div>Results: @_movieVm.Movies.Count</div>
<div class="container">
    <div class="row">
        @foreach (var m in _movieVm.Movies)
        {
            <div class="col-3 card">
                <div class="card-body">
                    <div class="card-title fw-bold" value="@m.ID">@m.title</div>
                    <div class="card-text">@m.overview</div>
                </div>
            </div>
        }
    </div>
</div>